@model R2h_Erp_App.DbModels.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#Quantity, #Amount').on('input', function () {
            var quantity = parseFloat($('#Quantity').val()) || 0;
            var amount = parseFloat($('#Amount').val()) || 0;
            var totalAmount = quantity * amount;
            $('#TotalAmount').val(totalAmount);
        });
    });
</script>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="CustomersId" class="control-label">CustomerName</label>
                <select asp-for="CustomersId" class="form-group" id="CustomerId" disabled>
                    <option value="">Select</option>
                    @foreach (var category in ViewBag.CustomersId.Items)
                    {
                        <option value="@category.CustomersId">@category.Name</option >
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">ProductName</label>
                <select asp-for="ProductId" class="form-control" id="ProductId" disabled>
                    <option value="">select</option>
                    @foreach (var category in ViewBag.ProductId.Items)
                    {
                        <option value="@category.ProductsId">@category.Name</option>
                    }
                </select>
            </div>
           
          
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control"  readonly/>
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input type="date" asp-for="OrderDate"  class="form-control" />

                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
          
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
